<!DOCTYPE html>
<html>
<head>
  <title>HLTV</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app" class="theme--light, light-red ">
    <v-app>
      <v-content>
      	<v-toolbar dark color="blue darken-4">
		    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
		
		    <v-toolbar-title class="white--text"  style="width:100%; text-align: center;">HLTV</v-toolbar-title>
		    <v-spacer></v-spacer>
		
		    <v-btn icon>
		      <v-icon>search</v-icon>
		    </v-btn>
		
		    <v-btn icon>
		      <v-icon>apps</v-icon>
		    </v-btn>
		
		    <v-btn icon>
		      <v-icon>refresh</v-icon>
		    </v-btn>
		
		    <v-btn icon>
		      <v-icon>more_vert</v-icon>
		    </v-btn>
		  </v-toolbar>
		  
		    <v-layout
    wrap
    style="height: 200px;"
  >

   <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card  v-for="item in feed.items">
        <v-img
          v-bind:src="item.imageUrl"
          aspect-ratio="2.75"
        ></v-img>

        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{ item.title }}</h3>
            <div> {{ item.description }} </div>
          </div>
        </v-card-title>

        <v-card-actions>
        <v-btn block color="blue" dark>More infos</v-btn>        
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>

    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="mini"
      absolute
      dark
      temporary
    >
      <v-list class="pa-1">
        <v-list-tile v-if="mini" @click.stop="mini = !mini">
          <v-list-tile-action>
            <v-icon>chevron_right</v-icon>
          </v-list-tile-action>
        </v-list-tile>

        <v-list-tile avatar tag="div">
          <v-list-tile-avatar>
            <i class="fab fa-500px"></i>
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>UPDATES</v-list-tile-title>
          </v-list-tile-content>

          <v-list-tile-action>
            <v-btn icon @click.stop="mini = !mini">
              <v-icon>chevron_left</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>

      <v-list class="pt-0" dense>
        <v-divider light></v-divider>

        <v-list-tile
          v-for="item in items"
          :key="item.title"
          @click=""
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </v-layout>
              </v-content><v-footer
    
    fixed         
    height="auto"
    color="blue darken-4"
  >
    <v-layout
      justify-center
      row
      wrap
    >
      <v-btn
        v-for="link in links"
        :key="link"
        color="red"
        flat
        round
      >
        {{ link }}
      </v-btn>
      <v-flex
        blue darken-4
        py-3
        text-xs-center
        white--text
        xs12
      >
        &copy;2019 — <strong>HLTV Ranking</strong>
      </v-flex>
    </v-layout>
    
  </v-footer>
    </v-app>
    
    
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script>
	var app = new Vue({ 
    	el: '#app',
    	data: { 
    		drawer: null,
            items: [
                { title: 'Matches & Results', icon: 'calendar_today' },
                { title: 'Bets', icon: 'attach_money' },
                { title: 'Events', icon: 'supervisor_account' },
                { title: 'Live', icon: 'play_arrow' },
                { title: 'Rankin', icon: 'swap_vert' },
              ],
              mini: false,
              right: null,
              feed : {
            	  "items":  [
            		      {
            		        "title": "Apex Legends für Switch Entwickler machen keine Versprechen",
            		        "description": "Respawn Entertainment will den Free-to-Play-Battle-Royale-Shooter \"Apex Legends\" (noch) nicht für die Switch ankündigen.",
            		        "author": "michael.sosinka@gmx.de",
            		        "link": "https://www.games.ch/apex-legends/news/switch-entwickler-versprechen-iaqc/",
            		        "pubDate": "Fri, 12 Apr 2019 06:15:00 GMT",
            		        "guid": "https://www.games.ch/apex-legends/news/switch-entwickler-versprechen-iaqc/",
            		        "imageUrl": "https://www.games.ch//img/apex-legends.840.473.kiaid.1.jpg",
            		        "image": { "link": "https://www.games.ch//img/apex-legends.840.473.kiaid.1.jpg" }
            		      },
            		      {
            		        "title": "Rapper Logic in The Last of Us: Part 2 Er übernimmt eine Rolle",
            		        "description": "Der US-Rapper \"Logic\" hat offenbar eine Rolle in \"The Last of Us: Part 2\" bekommen. Wie gross sein Part sein wird, ist nicht bekannt.",
            		        "author": "michael.sosinka@gmx.de",
            		        "link": "https://www.games.ch/the-last-of-us-2/news/rapper-logic-the-last-of-us-part-2-iaqb/",
            		        "pubDate": "Fri, 12 Apr 2019 06:00:00 GMT",
            		        "guid": "https://www.games.ch/the-last-of-us-2/news/rapper-logic-the-last-of-us-part-2-iaqb/",
            		        "imageUrl": "https://www.games.ch//img/the-last-of-us-2.1024.576.kshf.1.jpg",
            		        "image": { "link": "https://www.games.ch//img/the-last-of-us-2.1024.576.kshf.1.jpg" }
            		      },
            		      {
            		        "title": "Disney+ auch für Konsolen Streaming-Dienst startet im November 2019",
            		        "description": "Der neue Streaming-Dienst für Filme und Serien, Disney+, wird auch auf den Konsolen verfügbar sein, wie bestätigt wurde.",
            		        "author": "michael.sosinka@gmx.de",
            		        "link": "https://www.games.ch/6958-disney-interactive-studios/news/plus-konsolen-streaming-iaqa/",
            		        "pubDate": "Fri, 12 Apr 2019 05:45:00 GMT",
            		        "guid": "https://www.games.ch/6958-disney-interactive-studios/news/plus-konsolen-streaming-iaqa/",
            		        "imageUrl": "https://www.games.ch//img/6958-disney-interactive-studios.614.346.kjil.1.jpg",
            		        "image": { "link": "https://www.games.ch//img/6958-disney-interactive-studios.614.346.kjil.1.jpg" }
            		      }
            		    ]
            		  
            		}
         }
         /*
         ,mounted () {
       	    axios
       	      .get('https://games.ch/rss/news.xml')
       	      .then(response => (console.log(response)))
       	}*/
    })
  </script>
</body>
</html>